.notification {
  text-align: center;
    display: none;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

li {
    list-style: none;
}

img {
display: block;
width: 100%;
}

.load-more {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.search-form{
  background-color: teal;
text-align: center;
  padding: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

input {
    margin: 0;

  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: black;
  padding: 5px;
  border: none;
  border-radius: 6px;
}
.search,
.load-more  {
  font-size: 18px;
  border-radius: 6px;
  border: none;
  padding: 3px 3px 6px 3px;
  transition: background-color 300ms linear ;
}

.search:hover,
.search:focus,
.load-more:focus,
.load-more:hover {
    background-color: aquamarine;
}

.gallery {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
    gap: 20px;
    background-color: blanchedalmond;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.photo-card {
    width: (100% - 40px) / 2;
    border: 1px solid #212121;
    border-radius: 4px;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}